flows.json
[{"id":"55649938.732b28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c681970.6b90268","type":"debug","z":"55649938.732b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":920,"wires":[]},{"id":"ece0840c.a46448","type":"ui_slider","z":"55649938.732b28","name":"","label":"No of Transactions/Min","tooltip":"","group":"4f87dd9b.757354","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"10","max":"5000","step":"50","x":270,"y":520,"wires":[["5f813680.724638"]]},{"id":"e09eb4f5.9701e8","type":"http request","z":"55649938.732b28","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:5000/numTrans","tls":"","proxy":"","authType":"basic","x":670,"y":480,"wires":[[]]},{"id":"8c34dbdb.588ae8","type":"ui_list","z":"55649938.732b28","group":"872bc118.fc0a2","name":"hahaha","order":1,"width":"6","height":"12","lineType":"one","actionType":"click","allowHTML":false,"x":700,"y":700,"wires":[["428ef90.f6b4508","5c25df6c.ce10d8","e856bda4.ce85","4ef0d31c.a1d32c","a5fa1cd4.5336b8","590f6ab3.9a0ce4","56c92788.a67638"]]},{"id":"e856bda4.ce85","type":"function","z":"55649938.732b28","name":"","func":"msg.payload = msg.payload[\"index\"].toString()\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":600,"wires":[["191cf98f.07dbe6"]]},{"id":"5c25df6c.ce10d8","type":"function","z":"55649938.732b28","name":"","func":"\nmsg.payload = msg.payload[\"txions\"]\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":680,"wires":[["e97e6971.21afb8"]]},{"id":"191cf98f.07dbe6","type":"ui_text","z":"55649938.732b28","group":"ddd60cfe.08833","order":1,"width":"6","height":"1","name":"","label":"Index","format":"{{msg.payload}}","layout":"col-center","x":1050,"y":600,"wires":[]},{"id":"428ef90.f6b4508","type":"function","z":"55649938.732b28","name":"","func":"msg.payload = msg.payload[\"pow\"].toString()\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":860,"wires":[["c1c35e3.9de2a2"]]},{"id":"4ef0d31c.a1d32c","type":"function","z":"55649938.732b28","name":"","func":"msg.payload = msg.payload[\"pbh\"].toString().substring(0,10)\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":640,"wires":[["1ad6dc30.1fe524"]]},{"id":"1ad6dc30.1fe524","type":"ui_text","z":"55649938.732b28","group":"ddd60cfe.08833","order":1,"width":"6","height":"2","name":"","label":"Previous Block Hash","format":"{{msg.payload}}","layout":"col-center","x":1100,"y":640,"wires":[]},{"id":"a5fa1cd4.5336b8","type":"function","z":"55649938.732b28","name":"","func":"\nmsg.payload = msg.payload[\"hash\"].toString().substring(0,10)\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":720,"wires":[["cade3f9.953a9c"]]},{"id":"cade3f9.953a9c","type":"ui_text","z":"55649938.732b28","group":"ddd60cfe.08833","order":3,"width":"6","height":"2","name":"","label":"Hash","format":"{{msg.payload}}","layout":"col-center","x":1050,"y":720,"wires":[],"icon":"node-red/leveldb.png"},{"id":"c1c35e3.9de2a2","type":"ui_text","z":"55649938.732b28","group":"ddd60cfe.08833","order":1,"width":"6","height":"2","name":"","label":"Proof of Work","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":860,"wires":[]},{"id":"e97e6971.21afb8","type":"ui_list","z":"55649938.732b28","group":"d5e1174c.b5be08","name":"","order":0,"width":"8","height":"10","lineType":"three","actionType":"none","allowHTML":false,"x":1050,"y":680,"wires":[[]]},{"id":"590f6ab3.9a0ce4","type":"function","z":"55649938.732b28","name":"","func":"msg.payload = msg.payload[\"timestamp\"].toString()\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":900,"wires":[["fb455385.a8ef5"]]},{"id":"fb455385.a8ef5","type":"ui_text","z":"55649938.732b28","group":"ddd60cfe.08833","order":1,"width":"6","height":"2","name":"","label":"Timestamp","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":900,"wires":[]},{"id":"56c92788.a67638","type":"function","z":"55649938.732b28","name":"","func":"msg.payload = msg.payload[\"hostname\"].toString()\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":780,"wires":[["2973f831.32e72"]]},{"id":"2973f831.32e72","type":"ui_text","z":"55649938.732b28","group":"ddd60cfe.08833","order":1,"width":"6","height":"2","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":780,"wires":[]},{"id":"386e22d2.c872c6","type":"http in","z":"55649938.732b28","name":"","url":"/updateChain","method":"post","upload":false,"swaggerDoc":"","x":270,"y":660,"wires":[["ffb249e6.ba2e","d6788ffe.812728"]]},{"id":"ffb249e6.ba2e","type":"json","z":"55649938.732b28","name":"","property":"payload","action":"","pretty":false,"x":430,"y":700,"wires":[["8c34dbdb.588ae8"]]},{"id":"d6788ffe.812728","type":"http response","z":"55649938.732b28","name":"","statusCode":"","headers":{},"x":710,"y":600,"wires":[]},{"id":"93a4e7a8.34bbe8","type":"ui_button","z":"55649938.732b28","name":"Start Transactions","group":"4f87dd9b.757354","order":1,"width":0,"height":0,"passthru":false,"label":"Start Transactions","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"setState\":\"Start\"}","payloadType":"json","topic":"","x":210,"y":760,"wires":[["e670a161.f61638"]]},{"id":"ef727e0.c44c98","type":"ui_button","z":"55649938.732b28","name":"Stop Transactions","group":"4f87dd9b.757354","order":2,"width":0,"height":0,"passthru":false,"label":"Stop Transactions","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"setState\":\"Stop\"}","payloadType":"json","topic":"","x":230,"y":820,"wires":[["79f2c6f6.eb14d"]]},{"id":"e670a161.f61638","type":"http request","z":"55649938.732b28","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.2.105:5000/setState","tls":"","proxy":"","authType":"basic","x":490,"y":800,"wires":[[]]},{"id":"79f2c6f6.eb14d","type":"http request","z":"55649938.732b28","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:5000/setState","tls":"","proxy":"","authType":"basic","x":490,"y":860,"wires":[[]]},{"id":"5f813680.724638","type":"function","z":"55649938.732b28","name":"","func":"number = msg.payload\nmsg.payload = {\n    \"numTrans\":number\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["e09eb4f5.9701e8"]]},{"id":"6e6871f4.5e8f78","type":"http request","z":"55649938.732b28","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.2.105:5000/sync","tls":"","proxy":"","authType":"basic","x":570,"y":1100,"wires":[[]]},{"id":"f5a3b404.2c3008","type":"inject","z":"55649938.732b28","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1120,"wires":[["6e6871f4.5e8f78"]]},{"id":"4f87dd9b.757354","type":"ui_group","z":"","name":"Simulation","tab":"f2c64672.99a608","disp":true,"width":"12","collapse":false},{"id":"872bc118.fc0a2","type":"ui_group","z":"","name":"BlockChain","tab":"8081def7.c48f18","disp":true,"width":"6","collapse":false},{"id":"ddd60cfe.08833","type":"ui_group","z":"","name":"Block Details","tab":"8081def7.c48f18","disp":true,"width":"6","collapse":false},{"id":"d5e1174c.b5be08","type":"ui_group","z":"","name":"Block Transactions","tab":"8081def7.c48f18","disp":true,"width":"8","collapse":false},{"id":"f2c64672.99a608","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8081def7.c48f18","type":"ui_tab","z":"","name":"Block Chain","icon":"dashboard","disabled":false,"hidden":false}]